snippet emphquote
       \emph{„$0”}
snippet textbold
       \textbf{$0}
snippet emph
       \emph{$0}
snippet textmedium
       \textmf{$0}
snippet textmediumitalic
       \textmi{$0}
snippet chapter
       \chapter{$0}
snippet section
       \section{$0}
snippet subsection
       \subsection{$0}
snippet subsubsection
       \subsubsection{$0}
snippet begin
       \begin{$0}

